In [1]:
import pandas as pd
import numpy as np
import pickle
import keras
from keras.models import Model
from keras.layers import *
from keras import optimizers
from keras.layers import Input, Dense, Dropout, Flatten
from keras.models import Sequential
from keras.layers.convolutional import Conv2D
from keras.layers.convolutional import MaxPooling2D
from keras.utils import np_utils
from keras import backend as K
K.common.set_image_dim_ordering('th')
from keras.utils.np_utils import to_categorical

Using TensorFlow backend.

In [2]:
train = pd.read_csv('train.csv',index_col=False)
labels = train[['784']]

In [3]:
train.drop(train.columns[[784]],axis=1,inplace=True)
train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,255,255,255,255,255,255,255,255,255,255,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
labels = np.array(labels)

In [5]:
#creating category labels for training data i.e. 1,2...+,-,*
categories = to_categorical(labels,num_classes=13)

In [6]:
list = []
for i in range(len(train)):
    list.append(np.array(train[i:i+1]).reshape(28,28,1))

In [7]:
model = Sequential()

model.add(Conv2D(30, (5, 5), input_shape=(28, 28,1), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Conv2D(15, (3, 3), activation='relu'))
model.add(MaxPooling2D(pool_size=(2, 2)))

model.add(Dropout(0.2))
model.add(Flatten())

model.add(Dense(128, activation='relu'))
model.add(Dense(50, activation='relu'))
model.add(Dense(13, activation='softmax'))

# Compile model
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [8]:
model.fit(np.array(list),categories, epochs=10,batch_size=200,shuffle=True, verbose=1)

Epoch 1/10
50042/50042 [==============================] - 18s 350us/step - loss: 0.3041 - accuracy: 0.9514
Epoch 2/10
50042/50042 [==============================] - 18s 359us/step - loss: 0.0352 - accuracy: 0.9882
Epoch 3/10
50042/50042 [==============================] - 18s 365us/step - loss: 0.0216 - accuracy: 0.9931
Epoch 4/10
50042/50042 [==============================] - 18s 366us/step - loss: 0.0166 - accuracy: 0.9951
Epoch 5/10
50042/50042 [==============================] - 18s 368us/step - loss: 0.0128 - accuracy: 0.9956
Epoch 6/10
50042/50042 [==============================] - 19s 377us/step - loss: 0.0092 - accuracy: 0.9974
Epoch 7/10
50042/50042 [==============================] - 18s 367us/step - loss: 0.0113 - accuracy: 0.9965
Epoch 8/10
50042/50042 [==============================] - 18s 358us/step - loss: 0.0077 - accuracy: 0.9973
Epoch 9/10
50042/50042 [==============================] - 18s 359us/step - loss: 0.0062 - accuracy: 0.9979
Epoch 10/10
50042/50042 [==============================] - 19s 373us/step - loss: 0.0069 - accuracy: 0.9981

In [9]:
model_json = model.to_json()
with open("model_final.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
model.save_weights("model_final.h5")